* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* Свойства для сброса начальных стилей элементов */
}

:root {
  --font-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family);
}

header {
    width: 100vw;
    height: 70px;
    background-color: #2965F1;
    padding-top: 23px;
    padding-bottom: 23px;
    /* Стили для хедера */
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    min-height: 100vh;
    background-color: #fafaff;
    padding-top: 60px;
    padding-bottom: 60px;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    padding-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #FFFFFF;
    margin: 100px 0 100px;
    /* Стили для второй секции */
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    padding: 9px 87px 8px 12px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    background: url(./images/Vector.svg) no-repeat right 16px top 16px;
    appearance: none;
    /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    font-size: 16px;
    font-weight: 400;
    color: #303030;
    list-style-image: url(./images/solar_map-arrow-up-bold.svg);
    padding-left: 25px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 0 0 0 25px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    /* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    padding: 9px 215px 8px 12px;
    /* Стили для односточного поля ввода текста */
}

.btn {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    border-style: none ;
    /* Стили для кнопки */
}

.line {
    margin: 60px 0 60px 0;
    /* Стили для линии */
}

table {
    border: 1px solid #95a1bb;
    border-collapse: collapse;
    font-size: 14px;
    /* Стили для таблицы */
}

th, td {
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    padding: 26px 0;
    background: rgba(163, 167, 255, 0.3);
    /* Стили для футера */
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    /* Стили для футера */
}

a:visited {
    font-weight: 400;
    font-size: 14px;
    color: #f129e7;
    text-decoration: none;
}